<div>
<div class="container">
    <div class="row topFix">
        <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
            <div class="card shadow pointer"  (click)='navigateTo("config")'>
                <img src="../../../assets/images/config.png" class="leftFix" height='100px' width='146px'>
                <div class="card-footer" style="text-align:center">
                    <strong>Admin Configuration</strong>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
            <div class="card shadow pointer" (click)='navigateTo("hrms")'>
                <img src="../../../assets/images/hrms.jpg" class="leftFix" height='100px' width='146px'>
                <div class="card-footer" style="text-align:center">
                    <strong>Human Resource Management</strong>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
            <div class="card shadow pointer"  (click)='navigateTo("psa")'>
                <img src="../../../assets/images/psa.png" class="leftFix" height='100px' width='146px'>
                <div class="card-footer" style="text-align:center">
                    <strong>Professional Services Automation</strong>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
            <div class="card shadow pointer"  (click)='navigateTo("tms")'>
                <img src="../../../assets/images/tms.png" class="leftFix" height='100px' width='146px'>
                <div class="card-footer" style="text-align:center">
                    <strong>Time Sheets Management</strong>
                </div>
            </div>
        </div>
    </div>
</div>
</div>