<div *ngIf="loading">
    <div class="loader mx-auto my-auto"></div>
</div>

<div class="container-fluid" [ngClass]="{'opacityToScreen':loading}">


    <div class="row">
        <div class="col-sm-7 col-md-7 col-lg-7 col-xs-12 lft_cont">
            <img class="img-responsive" src="../../../assets/images/login.png" class="obs">
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12 bg">

            <div class="login-box card shadow">
                <form class="login-form" [formGroup]="OBSLoginForm" (ngSubmit)="loginAction(OBSLoginForm.value)">
                    <div class="mb-4 alignSignUp">
                        <h3 class="login-head">Sign In</h3>
                    </div>


                    <div class="form-group">

                        <input type="text" style="width: 100%;" class="form-control form" (keypress)="number($event)" 
                            placeholder="Employee ID" required="required" [(ngModel)]="uname" formControlName="UserName">
                        <div *ngIf="OBSLoginForm.controls.UserName.touched && OBSLoginForm.controls.UserName.invalid"
                            style="color: red">

                            <span *ngIf="OBSLoginForm.controls.UserName.errors.required">
                                EmployeeId is required.
                            </span>
                            <span *ngIf="OBSLoginForm.controls.UserName.errors.pattern">
                                Invalid employee id entered.
                            </span>

                        </div>
                    </div>
                    <div class="form-group">

                        <input type="{{val}}" class="form-control form" placeholder="Password" required="required"
                            formControlName="UserPassword"><span style="color: white;"><i
                                style="cursor: pointer;" class="fa fa-eye inpass label-text" (click)="eye()"></i></span>
                        <div *ngIf="OBSLoginForm.controls.UserPassword.touched && OBSLoginForm.controls.UserPassword.invalid"
                            style="color: red">

                            <span *ngIf="OBSLoginForm.controls.UserPassword.errors.required">
                                Password is required.
                            </span>
                        </div>
                        <p *ngIf="status" style="color:red;font-size:16px">Invalid Credentials</p>
                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control form" style="width: 100%;" (keypress)="number($event)"
                            placeholder="Domain" required="required" [(ngModel)]="domain" formControlName="domain">
                        <div *ngIf="OBSLoginForm.controls.domain.touched && OBSLoginForm.controls.domain.invalid"
                            style="color: red">

                            <span *ngIf="OBSLoginForm.controls.domain.errors.required">
                                Domain is required.
                            </span>
                            <span *ngIf="OBSLoginForm.controls.domain.errors.pattern">
                                Invalid Domain.
                            </span>

                        </div>
                    </div>
            
                    <div class="form-group ">
                        <button class="btn btn-submit btnColorLogin" [disabled]='OBSLoginForm.invalid'>Login</button>
                        <div>
                            <span><input type="checkbox"> Keep me signed in</span> 
                            <span class="pull-right" style="cursor: pointer;" (click)="navigateToForgotPassword()"><strong>Forgot password?</strong></span>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <button class="btn btn-submit btnColorCreate" [disabled]="OBSLoginForm.invalid">Create an
                            Account</button>
                    </div> -->
                    <div class="form-group alignSignUp">
                        <span>New User? <a style="color: black;cursor: pointer;" (click)='navigateToSignUp()' ><strong>SignUp</strong></a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>