<div>
    <div class="container">
        <table class="table">
            <thead>
                <th>Contract Id </th>
                <th>Contract Name</th>
                <th>Duration</th>
                <th>Status</th>
                <th>Contract Revenue/Budget</th>
                <th></th>

            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>OBS</td>
                    <td>2 Years</td>
                    <td>Active</td>
                    <td><button class="btn" [routerLink]="['projectdetails','OBS', 0]">More Info</button></td>
                    <td><i class="fa fa-edit" [routerLink]="['projectdetails','OBS',1]"></i></td>

                </tr>
                <tr>
                    <td>2</td>
                    <td>OBS</td>
                    <td>2 Years</td>
                    <td>Active</td>
                    <td><button class="btn" [routerLink]="['projectdetails','OBS', 0]">More Info</button></td>
                    <td><i class="fa fa-edit" [routerLink]="['projectdetails','OBS',1]"></i></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
