<div class="container">
    <div style="text-align: center;margin-top:20px">
       <strong>Admin Configuration</strong>
    </div>


    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home">HRMS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu1">PSA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu2">TMS</a>
        </li>
      </ul>
     
    <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
            <ul >
                <li class="nav-item">
                    <a class="nav-link" routerLink="hrms/hrmsmasters/costcenter"
                        routerLinkActive="active">Cost Center</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="hrms/hrmsmasters/businessunit"
                        routerLinkActive="active">Business Unit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="hrms/hrmsmasters/subbusinessunit"
                        routerLinkActive="active">Sub Business Unit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="hrms/hrmsmasters/emp-education"
                        routerLinkActive="active">Employee Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="hrms/hrmsmasters/stateList"
                        routerLinkActive="active">State List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="hrms/hrmsmasters/resourceType"
                        routerLinkActive="active">Resource Type</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="hrms/hrmsmasters/emp-status"
                        routerLinkActive="active">Employee Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="hrms/hrmsmasters/separationType"
                        routerLinkActive="active">Seperation Type</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="hrms/hrmsmasters/roleManagement"
                        routerLinkActive="active">Role Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="hrms/hrmsmasters/emp-designation"
                        routerLinkActive="active">Employee Designation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="hrms/hrmsmasters/passportCenters"
                        routerLinkActive="active">Passport Centers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="hrms/hrmsmasters/skills"
                        routerLinkActive="active">Skills</a>
                </li>
            </ul>
        </div>
        <div id="menu1" class="container tab-pane fade"><br>
            <ul >
                <li class="nav-item">
                    <a class="nav-link" routerLink="hrms/hrmsmasters/costcenter"
                        routerLinkActive="active">Cost Center</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="hrms/hrmsmasters/businessunit"
                        routerLinkActive="active">Business Unit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="hrms/hrmsmasters/subbusinessunit"
                        routerLinkActive="active">Sub Business Unit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="hrms/hrmsmasters/emp-education"
                        routerLinkActive="active">Employee Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="hrms/hrmsmasters/stateList"
                        routerLinkActive="active">State List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="hrms/hrmsmasters/resourceType"
                        routerLinkActive="active">Resource Type</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="hrms/hrmsmasters/emp-status"
                        routerLinkActive="active">Employee Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="hrms/hrmsmasters/separationType"
                        routerLinkActive="active">Seperation Type</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="hrms/hrmsmasters/roleManagement"
                        routerLinkActive="active">Role Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="hrms/hrmsmasters/emp-designation"
                        routerLinkActive="active">Employee Designation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="hrms/hrmsmasters/passportCenters"
                        routerLinkActive="active">Passport Centers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="hrms/hrmsmasters/skills"
                        routerLinkActive="active">Skills</a>
                </li>
            </ul>
        </div>
        <div id="menu2" class="container tab-pane fade"><br>
          <h3>Menu 2</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
      </div>




    
    
</div>
