<div>
    <!-- <div class="navbar">
        <ul>
            <li><a routerLink='schedule' routerLinkActive='linkActive'>SCHEDULE</a></li>
            <li><a routerLink='logtime' routerLinkActive='linkActive'>LOGTIME</a></li>
            <li><a routerLink='people' routerLinkActive='linkActive'>PEOPLE</a></li>
            <li><a routerLink='projects' routerLinkActive='linkActive'>PROJECTS</a></li>
            <li><a routerLink='reports' routerLinkActive='linkActive'>REPORTS</a></li>
            <li class="searchGroup"><input placeholder="Search"><i class="fa fa-search searchPlace"
                    aria-hidden="true"></i></li>
        </ul>
        <ul class="pull-right">
            <li><i class="fa fa-user-circle-o" aria-hidden="true"></i></li>
            <li><i class="fa fa-question-circle-o" aria-hidden="true"></i></li>
            <li><i class="fa fa-bell-o" aria-hidden="true"></i></li>
        </ul>
    </div> -->

    <nav class="navbar navbar-expand-md">
        <img src="../../assets/images/ojas_logo.png"  class="navbar-brand">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span><i class="fa fa-bars" aria-hidden="true"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav nav-align">
                <a routerLink='dashboard' routerLinkActive='linkActive' class="nav-item nav-link">Dashboard</a>
                <!-- <a routerLink='schedule' routerLinkActive='linkActive' class="nav-item nav-link">SCHEDULE</a>
                <a routerLink='logtime' routerLinkActive='linkActive' class="nav-item nav-link">LOGTIME</a>
                <a routerLink='people' routerLinkActive='linkActive' class="nav-item nav-link">PEOPLE</a>
                <a routerLink='projects' routerLinkActive='linkActive' class="nav-item nav-link">PROJECTS</a>
                <a routerLink='reports' routerLinkActive='linkActive' class="nav-item nav-link">REPORTS</a> -->
            </div>

        </div>
        <div class="navbar-nav ml-auto ">
            <!-- <span class="nav-item nav-link searchGroup"><input placeholder="Search"><i class="fa fa-search searchPlace"
                    aria-hidden="true"></i></span> -->
            <div class="horizontalNav">
                <div class="dropdown">
                    <a href="#" class="nav-item nav-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Profile</a>
                      <a class="dropdown-item" href="#">Settings</a>
                      <a class="dropdown-item" href="#">Logout</a>
                    </div>
                  </div>
                  
                
                <a href="#" class="nav-item nav-link"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a>
                <a href="#" class="nav-item nav-link"><i class="fa fa-bell-o" aria-hidden="true"></i></a>

            </div> 

    </div>
    </nav>

    <router-outlet></router-outlet>

</div>